name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
    tags:
      - 'v*'
    paths-ignore:
      - '**/*.md'
      - '**/*.jpg'
      - '**/*.fzz'
      - '**/*.fzpz'
      - '**/*.xlsx'
  pull_request:
    branches:
      - 'main'

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Rename secrets template file for build
      run: mv src/Secrets.template.h src/Secrets.h
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cache/pip
          ~/.platformio/.cache
        key: ${{ runner.os }}-pio
    - uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Install PlatformIO Core
      run: pip install --upgrade platformio
    - name: Build PlatformIO Project
      run: pio run
    - name: Get Version from Tag
      if: startsWith(github.event.ref, 'refs/tags/v')
      id: tagver
      uses: ChrSchu90/GitTagSemanticVersion@v1.1
    - name: Create Release
      if: ${{ steps.tagver.outcome == 'success' && steps.tagver.outputs.is_valid == 'true' }}
      uses: softprops/action-gh-release@v2
      with:
        fail_on_unmatched_files: true
        tag_name: ${{ steps.tagver.outputs.version_tag }}
        prerelease: ${{ steps.tagver.outputs.is_prerelease == 'true' }}  
        files: |
          ./.pio/build/nodemcu-32s/firmware.bin
